<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQhkla9PVjpG_8Dt-FlKyGV9m-wW4ggi4</string>
	<key>GCM_SENDER_ID</key>
	<string>267395124760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pulse-yourmoney.PulseOfMoney</string>
	<key>PROJECT_ID</key>
	<string>pulse-yourmoney</string>
	<key>STORAGE_BUCKET</key>
	<string>pulse-yourmoney.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267395124760:ios:68bd7bffcb679364f9bd6d</string>
</dict>
</plist>